Source: telepathy-gabble
Section: net
Priority: optional
Maintainer: Debian Telepathy maintainers <pkg-telepathy-maintainers@lists.alioth.debian.org>
Uploaders: Dafydd Harries <daf@debian.org>, Riccardo Setti <giskard@debian.org>, Simon McVittie <smcv@debian.org>, Sjoerd Simons <sjoerd@debian.org>, Daniel Holbach <daniel.holbach@ubuntu.com>, Laurent Bigonville <bigon@bigon.be>
Build-Depends: cdbs, debhelper (>= 5), libglib2.0-dev (>= 2.4), libdbus-glib-1-dev (>= 0.72), libloudmouth1-dev (>= 1.3.2), python, xsltproc, libtelepathy-glib-dev (>= 0.7.0)
Standards-Version: 3.7.3
Vcs-Bzr: http://bzr.debian.org/pkg-telepathy/packages/unstable/telepathy-gabble/
Homepage: http://telepathy.freedesktop.org/wiki/
XS-Dm-Upload-Allowed: yes

Package: telepathy-gabble
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: telepathy-connection-manager
Description: Jabber/XMPP connection manager
 Gabble is a Jabber/XMPP connection manager for the Telepathy framework,
 currently supporting single user chats, multi user chats and voice/video
 calls. Install this package to use Telepathy instant messaging clients
 with Jabber/XMPP servers, including Google Talk.

Package: telepathy-gabble-dbg
Section: net
Priority: extra
Architecture: any
Depends: telepathy-gabble (= ${binary:Version})
Description: Jabber/XMPP connection manager
 Gabble is a Jabber/XMPP connection manager for the Telepathy framework,
 currently supporting single user chats, multi user chats and voice/video
 calls. Install this package to use Telepathy instant messaging clients
 with Jabber/XMPP servers, including Google Talk.
