Source: telepathy-gabble
Section: net
Priority: optional
Maintainer: Dafydd Harries <daf@debian.org>
Uploaders: Daniel Holbach <daniel.holbach@ubuntu.com>, Riccardo Setti <giskard@debian.org>, Simon McVittie <smcv@ianadd.pseudorandom.co.uk>, Sjoerd Simons <sjoerd@debian.org>
Build-Depends: cdbs, debhelper (>= 5), libglib2.0-dev (>= 2.4), libdbus-glib-1-dev (>= 0.71), libloudmouth1-dev (>= 1.1.1)
Standards-Version: 3.7.2

Package: telepathy-gabble
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: telepathy-connection-manager
Description: Jabber/XMPP connection manager
 Gabble is a Jabber/XMPP connection manager for the Telepathy framework,
 currently supporting single user chats, multi user chats and voice/video
 calls. Install this package to use Telepathy instant messaging clients
 with Jabber/XMPP servers, including Google Talk.
 .
 Homepage: http://telepathy.freedesktop.org/wiki/

Package: telepathy-gabble-dbg
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: telepathy-connection-manager
Description: Jabber/XMPP connection manager
 Gabble is a Jabber/XMPP connection manager for the Telepathy framework,
 currently supporting single user chats, multi user chats and voice/video
 calls. Install this package to use Telepathy instant messaging clients
 with Jabber/XMPP servers, including Google Talk.
 .
 Homepage: http://telepathy.freedesktop.org/wiki/
